
/* Body Styles */
body{
    font: 'Times New Roman', sans-serif;
    background: #000;
    color: #fff;
}

/* Heading and Paragraph Styles */
h1 {
    font-size: 64px;
    text-align: center;
    padding: 10px
}

h2 {
    font-size: 32px;
    color: #808080;
    text-shadow: 4px 4px 2px;
}

p {
    font-size: 24px;
    padding-top: 15px;
}

/* Div and Color Styles */
div {
    height: 150px;
    padding: 25px;
}

/* selector stuff, worry about later */
.red{
   background: #ff0000;
   text-align: right; 
}

.blue{
    background: #00ff;
    text-align: left;
}

.yellow {
    background: #ffe600;
    text-align: right;
}
